@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&family=Roboto:wght@300&display=swap');

@mixin playFair {font-family: 'Playfair Display', serif;}
@mixin raleway {font-family: 'Raleway', sans-serif;}
@mixin roboto {font-family: 'Roboto', sans-serif;}